<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field(:name, {:class => 'form-control'} ) %>
    </p>
    <p>
      <%= form.label :comment %><br>
      <%= form.text_area(:comment, {:class => 'form-control'} ) %>
    </p>
    <p>
      <%= form.submit({:class => 'btn btn-success'}) %>
    </p>
  <% end %>