<div class="jumbotron">

  <h1 class="display-3"><%= @title %></h1>
  <p class="lead">Please enter a title and text to your article</p>
  <hr class="my-4">
  
  <div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
    <div class="card-header">New article</div>
    <div class="card-body">
        
        <%= form_with scope: :article, url: articles_path, local: true do |form| %>
            <% if @article %>
                <% if @article.errors.any? %>
                    <div id="error_explanation">
                        <h2>
                        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved : 
                        </h2>
                    <ul>
                         <% @article.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
    
            <p>
                <%= form.label :title %><br>
                <%= form.text_field(:title, {:class => 'form-control'}) %>
            </p>

            <p>
                <%= form.label :text %><br>
                <%= form.text_area(:text, {:class => 'form-control'}) %>
            </p>

            <p>
                <%= form.submit({:class => 'btn btn-success'}) %>
            </p>
        <% end %>

    </div>
    </div>

  <p class="lead">
    <%= link_to 'Back', articles_path %>
  </p>
</div>




