<h1>New Categorie</h1>

<%= form_with scope: :categorie, url: categories_path, local: true do |form| %>
    <% if @categorie %>
        <% if @categorie.errors.any? %>
            <div id="error_explanation">
            <h2>
                <%= pluralize(@categorie.errors.count, "error") %> prohibited this categorie from being saved : 
            </h2>
            <ul>
                <% @categorie.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
    
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', categories_path %>