<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://bootswatch.com/4/sandstone/bootstrap.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">WEBLOG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

          <li class="nav-link">
          <%= link_to "Home", home_path %>
          </li>
        
          <li class="nav-link">
          <%= link_to "Blog", articles_path %>
          </li>

          <li class="nav-link">
          <%= link_to "New Acticle", new_article_path %>
          </li>

        </ul>

          <%= form_tag search_articles_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
            <%= text_field_tag :search, nil, placeholder: "Search", class: "form-control mr-sm-2" %>
            <%= submit_tag "Search", class:"btn btn-secondary my-2 my-sm-0" %>
          <% end %>

      </div>
    </nav>

    <%= yield %>
  </body>
</html>
